---
layout: page
description: "Mindful Movement, now in Baltimore"
---
{% for post in site.categories.upcoming reversed %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">{% if post.teacher %}{{ post.teacher }}
                         {% elsif post.author %}{{ post.author }}
                         {% else %}Still looking!
                         {% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

{% include class_info.html %}
