<p class="well">
        <emph>Free</emph>
            <a href="https://www.facebook.com/events/277097176049755/">
                Feldenkrais Festival</a>, noon-5pm, Saturday May 13, 2017.
            <br>
        Regular Saturday Class is 11:30a-12:30p, Saturdays starting May
            20.
            <br>
    Events to be held at Ruscombe Mansion: 4801 Yellowwood Ave, Baltimore.
<!-- TODO: update google maps link
(<a
    href="https://www.google.com/maps/place/2547+Eighth+St+%2316,+Berkeley,+CA+94710/@37.8592829,-122.2923256,17z/data=!4m7!1m4!3m3!1s0x80857eedecac6061:0x46240a9d443023c5!2s2547+Eighth+St+%2316,+Berkeley,+CA+94710!3b1!3m1!1s0x80857eedecac6061:0x46240a9d443023c5">map</a>)
-->
</p>

